@media screen and (max-width: 1024px) {
  .contenu {
    width: 100%;
    padding: 1%
  }
  .lateral {
    width: 100%;
    padding: 1%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .bloc {
    display: block;
    position: relative;
    width: calc(98% /2);
    margin: 0 auto;
  }
}
@media screen and (max-width:768px) {
  .title {
    font-size: 2em;
    font-weight: 200;
    vertical-align: middle;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  #profilePicture {
    max-width: 66%;
    margin: 2.5%;
  }
  .nav-bar{
    overflow-x: scroll;
  }
  .nav-item{
    min-width: 250px;
    padding: 2% 1.5%;
  }
  .nav-item a h2{
    font-size: 1.25em;
  }
  .exp, .text {
    width: 100%;
  }
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
  }
  .skill{
    margin: 3% 0;
  }
  .flip {
    width: 98%;
    margin: 2%;
  }
}
